@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Dana";
        font-style: normal;
        font-weight: 100;
        src: local("Dana"),
        url("../fonts/dana/DanaFaNum-Thin.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana";
        font-style: normal;
        font-weight: 300;
        src: local("Dana"),
        url("../fonts/dana/DanaFaNum-Light.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana";
        font-style: normal;
        font-weight: 400;
        src: local("Dana"),
        url("../fonts/dana/DanaFaNum-Regular.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana";
        font-style: normal;
        font-weight: 500;
        src: local("Dana"),
        url("../fonts/dana/DanaFaNum-Medium.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana";
        font-style: normal;
        font-weight: 600;
        src: local("Dana"),
        url("../fonts/dana/DanaFaNum-DemiBold.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana";
        font-style: normal;
        font-weight: 700;
        src: local("Dana"),
        url("../fonts/dana/DanaFaNum-Bold.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana";
        font-style: normal;
        font-weight: 800;
        src: local("Dana"),
        url("../fonts/dana/DanaFaNum-ExtraBold.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana";
        font-style: normal;
        font-weight: 900;
        src: local("Dana"),
        url("../fonts/dana/DanaFaNum-Black.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba";
        font-style: normal;
        font-weight: 400;
        src: local("Morabba"),
        url("../fonts/Morabba/WOFF2/Morabba-Light.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba";
        font-style: normal;
        font-weight: 500;
        src: local("Morabba"),
        url("../fonts/Morabba/WOFF2/Morabba-Medium.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba";
        font-style: normal;
        font-weight: 800;
        src: local("Morabba"),
        url("../fonts/Morabba/WOFF2/Morabba-Bold.woff2") format("woff2");
        font-display: swap;
    }
    * {
        @apply font-Dana;
    }

    img {
        @apply w-full h-auto;
    }

    body {
        line-height: 1.7;
    }
}

@layer components {
    @media only screen and (min-width: 700px) {
        .showcase-light {
            background: linear-gradient(0deg, rgb(243, 244, 246), rgba(243, 244, 246, 0)), url("../images/showcase.jpg");
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right bottom;
        }
        .showcase-dark {
            background: linear-gradient(0deg, rgb(39, 39, 42), rgba(39, 39, 42, 0)), url("../images/showcase.jpg");
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right bottom;
        }
    }
    @media only screen and (max-width: 700px) {
        .showcase-light {
            background: linear-gradient(0deg, rgb(243, 244, 246), rgba(243, 244, 246, 0)), url("../images/showcase-md.jpg");
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right bottom;
        }
        .showcase-dark {
            background: linear-gradient(0deg, rgb(39, 39, 42), rgba(39, 39, 42, 0)), url("../images/showcase-md.jpg");
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right bottom;
        }
    }
    .goto-play-light {
        background-image: url("../images/audiochuck-light.png");
        min-height: 400px;
        background-size: cover;
    }
    .goto-play-dark {
        background-image: url("../images/audiochuck-dark.png");
        min-height: 400px;
        background-size: cover;
    }
    .offer-section-light {
        background-image: url("../images/offer-light.jpg");
        background-size: cover;
    }
    .offer-section-dark {
        background-image: url("../images/offer-dark.jpg");
        background-size: cover;
    }
}