@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Dana";
        font-style: normal;
        font-weight: 100;
        src: local("Dana"),
        url("../fonts/dana/DanaFaNum-Thin.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana";
        font-style: normal;
        font-weight: 300;
        src: local("Dana"),
        url("../fonts/dana/DanaFaNum-Light.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana";
        font-style: normal;
        font-weight: 400;
        src: local("Dana"),
        url("../fonts/dana/DanaFaNum-Regular.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana";
        font-style: normal;
        font-weight: 500;
        src: local("Dana"),
        url("../fonts/dana/DanaFaNum-Medium.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana";
        font-style: normal;
        font-weight: 600;
        src: local("Dana"),
        url("../fonts/dana/DanaFaNum-DemiBold.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana";
        font-style: normal;
        font-weight: 700;
        src: local("Dana"),
        url("../fonts/dana/DanaFaNum-Bold.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana";
        font-style: normal;
        font-weight: 800;
        src: local("Dana"),
        url("../fonts/dana/DanaFaNum-ExtraBold.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana";
        font-style: normal;
        font-weight: 900;
        src: local("Dana"),
        url("../fonts/dana/DanaFaNum-Black.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba";
        font-style: normal;
        font-weight: 400;
        src: local("Morabba"),
        url("../fonts/Morabba/WOFF2/Morabba-Light.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba";
        font-style: normal;
        font-weight: 500;
        src: local("Morabba"),
        url("../fonts/Morabba/WOFF2/Morabba-Medium.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba";
        font-style: normal;
        font-weight: 800;
        src: local("Morabba"),
        url("../fonts/Morabba/WOFF2/Morabba-Bold.woff2") format("woff2");
        font-display: swap;
    }
    * {
        @apply font-Dana;
    }

    img {
        @apply w-full h-auto;
    }

    body {
        line-height: 1.7;
    }
}

@layer components {
    @media only screen and (min-width: 700px) {
        .showcase-light {
            background: linear-gradient(0deg, rgb(243, 244, 246), rgba(243, 244, 246, 0)), url("../images/showcase.jpg");
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right bottom;
        }
        .showcase-dark {
            background: linear-gradient(0deg, rgb(39, 39, 42), rgba(39, 39, 42, 0)), url("../images/showcase.jpg");
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right bottom;
        }
    }
    @media only screen and (max-width: 700px) {
        .showcase-light {
            background: linear-gradient(0deg, rgb(243, 244, 246), rgba(243, 244, 246, 0)), url("../images/showcase-md.jpg");
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right bottom;
        }
        .showcase-dark {
            background: linear-gradient(0deg, rgb(39, 39, 42), rgba(39, 39, 42, 0)), url("../images/showcase-md.jpg");
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right bottom;
        }
    }
    .goto-play-light {
        background-image: url("../images/audiochuck-light.png");
        min-height: 400px;
        background-size: cover;
    }
    .goto-play-dark {
        background-image: url("../images/audiochuck-dark.png");
        min-height: 400px;
        background-size: cover;
    }
    .offer-section-light {
        background-image: url("../images/offer-light.jpg");
        background-size: cover;
    }
    .offer-section-dark {
        background-image: url("../images/offer-dark.jpg");
        background-size: cover;
    }
}
.loader {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader .stroke {
    background: #f1f1f1;
    height: 100%;
    width: 3px;
    border-radius: 20px;
    margin: 0px 5px;
    animation: animate 1.4s linear infinite;
}

@keyframes animate {
    50%{
        height: 20%;
        background: #4286f4;
    }
    100% {
        height: 100%;
    }
}
.stroke:nth-child(2){
    animation-delay: 0.3s;
}
.stroke:nth-child(3){
    animation-delay: 0.6s;
}
.stroke:nth-child(4){
    animation-delay: 0.9s;
}
.stroke:nth-child(5){
    animation-delay: 0.6s;
}
.stroke:nth-child(6){
    animation-delay: 0.3s;
}
.stroke:nth-child(7){
    animation-delay: 0s;
}

.seek_slider,
.volume_slider {
    appearance: none;
    height: 5px;
    background: #83a9ff;
    transition: opacity .2s;
    border-radius: 5px;
}
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #3774ff;
    cursor: pointer;
    border-radius: 100%;
}
.seek_slider:hover,
.volume_slider:hover {
    opacity: 1.0;
}
.seek_slider {
    width: 100%;
}
.volume_slider {
    width: 80%;
}